* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

:root {
    --main-tcolor: #000000;
    --main-wcolor: #ffffff;
    --bg-blue: #EDF7FA;
    --bg-white: #ffffff;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}




@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/posts';
@import 'media/media';