.menu {
    position: relative;
    &__burger {
        position: absolute;
        top: -7px;
        right: 18px;
        width: 30px;
        height: 18px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
    }
    &__burger-item {
        width: 100%;
        height: 1.6px;
        background-color: var(--bg-dark);
    }
    &__list {
        position: absolute;
        right: 60px;
        width: 236px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    &__list-item {
        position: relative;
        transition: all 1.5s linear;
        &::after {
            content: ' ';
            visibility: hidden;
            position: absolute;
            top: 26px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: black;
        }
        &:hover {
            &::after {
                visibility: visible;
            }
        }
    }
    &__link {
        color: var(--main-tcolor);
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
    }
}